.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this if needed */
  }
  span {cursor:pointer; }
  .number{
    margin:100px;
  }
  .minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:0px 5px 8px 5px;
    border:1px solid #ddd;
    display: unset;
    vertical-align: middle;
    text-align: center;
  }
  input{
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
  } 
  
  .danger-alert {
    margin-top: -773px;
    display: flex;
    align-items: center;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }
  
  .alert-icon {
    margin-right: 10px;
    color: #721c24;
  }
  .cursor-not-allowed {
    pointer-events: none; /* Disable pointer events to prevent clicking */
    opacity: 0.5;
  }
 
  .disabled-link {
    pointer-events: none; /* Disable pointer events to prevent clicking */
    opacity: 0.5; /* Reduce opacity to indicate it's disabled */
    /* Add any other styles to indicate the link is disabled */
  }