/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@media screen and (max-width: 1480px) {
    .hero-banner h1{ font-size: 48px;}
    .animated-heading {margin-bottom: 20px;}
    }
    
    
    @media screen and (min-width: 1200px) {
     .container{max-width: 1200px;}    
    }
     
    @media screen and (max-width: 1300px) and (min-width: 1200px) {
    .container { max-width: 1100px;}
    }
    
    @media screen and (max-width: 1300px) {
    .mint-col-8 {-webkit-box-flex: 0;-ms-flex: 0 0 685px;flex: 0 0 685px; max-width: 685px;}    
    .ming-img {width: 685px;}    
    .video-box{ height: 608px;}    
    }
    
    @media screen and (max-width: 1199px) {
    .copyright-box a{ font-size: 14px;}
    .hero-banner{ padding: 50px 0px;}
    .hero-banner .btn-secondary { margin-right: 30px;}
    .video-box {height: 528px;}
    
    .benefit-group {font-size: 24px;}
    .benefits-dropdown p{ line-height: 35px;}
    
    
    .feature-column .d-flex {-ms-flex-wrap: wrap;flex-wrap: wrap;}
    
    
    .sec-our-mission .col-md-8 {-webkit-box-flex: 0;-ms-flex: 0 0 600px;flex: 0 0 600px;width: 600px;}
    .card-simple-wrapper {width: 280px;height: 280px;}
    
    .mint-col-8 {-webkit-box-flex: 0;-ms-flex: 0 0 620px;flex: 0 0 620px;max-width: 620px;}
    .ming-img {width: 620px;height: 336px;}
    
    .list-item-box{ width: 100%;}
    .list-item-box-inner h4 {font-size: 16px;margin-bottom: 5px;}
    .list-item-box-inner p{ font-size: 14px;}
    
    .feature-wrap {margin-bottom: 40px;}
    .feature-row {-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
    .feature-column {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        width: 100%;
        padding-right: 0;
        max-width: 100%;
    }
    
    .owl-nav .owl-prev {left: 0;}
    .owl-nav .owl-next {right: 0;}
    
    .billing-detail .form-box-right {
        padding: 32px 0px 90px;
    }
    


    .billing-detail .form-box-left{ padding: 20px;}
    
    }
    
    @media screen and (max-width: 991px) {
    .navbar-nav .nav-item {padding: 0px 10px;}    
    .navbar-nav .nav-link{ font-size: 14px;}
    .user-auth {margin-left: 5px;}
    
    .hero-banner h1{ font-size: 40px;}
    .content-box-banner p {font-size: 14px;max-width: 322px;}
    
    .footer h4{ font-size: 14px;} 
    .footer-box a{ font-size: 14px;}
    .footer-img{ margin-top: 20px;}
    .video-box {height: 394px;}
    
    
    .feature-column {-webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;padding-right: 0;max-width: 100%;}
    
    .header-shape{ width: 610px;}
    
    .view-box-video{ margin-bottom: 30px; text-align: center;}
    .view-box-video p {
        max-width: 270px;
        margin: 0 auto 30px auto;
    }
    
    .sec-our-mission .col-md-8 {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        width: 100%;
    }
    
    .mint-col-8 { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%;max-width: 100%;}
    .aside-mint { padding-left: 0;}
    .blog-mint{ margin-bottom: 30px;}
    .ming-img { margin: auto;}
    
    .modal-video .modal-body video{height: 290px;}
    
    .card-whitelist{ padding: 30px;}
    .card-whitelist-inner {
        background-repeat: no-repeat;
        padding: 44px;
        background-position: center center;
        background-size: 100%;
    }
    
    .sec-mint-main {
        padding: 30px 0px;
    }
    
    
    }
    
    @media screen and (max-width: 767px) {
    .header .container{ padding: 10px 15px;}
    .header-right .offcanvas-body { -webkit-box-align: self-start; -ms-flex-align: self-start; align-items: self-start; padding: 20px 0px;}
    .header .offcanvas-start{ background: #181818;}
    .navbar-nav .nav-item {padding: 5px 20px;}
    /* end header css */
    
    
    .sec-countdown-main {
        text-align: center;
        margin: 0 auto;
    }
    
    .hero-banner h1 {font-size: 38px;margin-bottom: 20px;max-width: 100%;}
    .content-box-banner p{ font-size: 20px; max-width: 100%;}
    .sec-act-group {margin-bottom: 30px;padding: 5px;max-width: 330px;display: block;margin: 0 auto;}
    .item-list{ -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
    .item-box{ -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin-bottom: 10px; padding: 0px 8px;}
    
    .content-box-banner .d-flex.align-items-center { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
    .hero-banner .btn-secondary {margin-right: 0;margin-bottom: 20px;}
    .animated-heading { margin-bottom: 30px;}
    .sec-act-group .background-layer{ display: none;}
    .hero-banner {
        padding: 30px 0px;
        min-height: auto;
        height: auto;
    }
    .content-box-banner {margin-bottom: 30px;}
    
    /* end banner css */
    
    .video-box {height: 257px;}
    
    .powered-by {text-align: center;}
    .card-simple-figure{ margin-bottom: 30px;}
    .card-simple-wrapper{ margin: auto;}
    .sec-our-mission { padding-top: 0px;}
    
    .ming-img {
        width: 280px;
        height: 280px;
    }
    .ming-img{-webkit-clip-path: polygon(20% 0%, 91% 0, 100% 8%, 100% 100%, 80% 100%, 8% 100%, 0 93%, 0 0);clip-path: polygon(20% 0%, 91% 0, 100% 8%, 100% 100%, 80% 100%, 8% 100%, 0 93%, 0 0);}
    .ming-inner{-webkit-clip-path: polygon(20% 0%, 91% 0, 100% 8%, 100% 100%, 80% 100%, 8% 100%, 0 93%, 0 0);clip-path: polygon(20% 0%, 91% 0, 100% 8%, 100% 100%, 80% 100%, 8% 100%, 0 93%, 0 0);}
    .sec-mint-detail {
        margin-bottom: 30px;
        padding-top: 0px;
    }
    
    .item-single{ padding: 10px;}
    .feature-box:before, .feature-box::after{ display: none;}
    .feature-box-inner{ background: #fff;}
    .feature-box:hover {
        -webkit-transform: inherit;
            -ms-transform: inherit;
                transform: inherit;
        border-color: transparent;
    }
    
    .sec-get-ready {padding: 30px 0px;}
    .card-full-img{ display: none;}
    .center-animation-box{ position: static; -webkit-transform: inherit; -ms-transform: inherit; transform: inherit; margin:0 auto; margin-bottom: 30px;}
    .benefit-group {font-size: 18px;}
    .benefit-column-3 .benefit-box {margin-top: 0;}
    .benefits-dropdown p{ margin-bottom: 0px;}
    .benefit-box {padding: 15px; border: 1px solid;border-radius: 10px;margin-bottom: 30px;}
    
    .discord-section{ padding: 30px 0px;}
    .fixed-outline { padding: 30px 15px;}
    .fixed-outline h2 {font-size: 20px;line-height: 28px; margin-bottom: 20px;}
    
    .feature-box{ width: 300px; margin-bottom: 10px;}
    .feature-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 0px;
    }
    
    .livery-section { padding-top: 0; margin-bottom: 60px;}
    .block-header h2 {font-size: 20px;line-height: 30px;}
    
    .slider-block {margin-bottom: 30px;}
    
    .block-header p{ font-size: 16px; line-height: 20px;}
    .block-figure .d-md-flex { margin: 0px;}
    .button-group-layer .container {padding: 0px 15px;}
    
    .booking-fixed .background-layer{ display: none;}
    .booking-fixed{ padding: 10px;}
    .inner-livery-booking .livery-box .livery-item{ -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin-bottom: 10px;}
    .inner-livery-booking .livery-box .livery-item:nth-child(3) {border: none;}
    .inner-livery-booking .livery-box {padding: 10px 10px 10px 10px;}
    
    .footer {padding: 30px 0 30px;}
    
    .footer-logo-right { max-width: 280px; margin: 30px auto 0 auto;}
    
    .footer-logo-right li{ max-width: 50%; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%;}
    .footer ul.footer-logo-right li:last-child {margin-left: 0px;}
    
    .header-shape{ display: none;}
    .block-header {margin-bottom: 30px;}
    .btn-single {margin-bottom: 30px;}
    
    .button-group-layer {padding: 0px 0px;}
    .button-group-layer .btn-secondary {
        min-width: 100px;
        font-size: 14px;
        padding: 11px 10px;
    }
    .banner-text {margin-bottom: 30px;text-align: center;}
    
    .livery-booking{
        -webkit-clip-path: polygon(4% 0, 80% 0%, 100% 0, 100% 96%, 96% 100%, 20% 100%, 0 100%, 0 4%);
                clip-path: polygon(4% 0, 80% 0%, 100% 0, 100% 96%, 96% 100%, 20% 100%, 0 100%, 0 4%);
        background: #fff;
    }
    
    .inner-livery-booking{
        -webkit-clip-path: polygon(4% 0, 80% 0%, 100% 0, 100% 96%, 96% 100%, 20% 100%, 0 100%, 0 4%);
                clip-path: polygon(4% 0, 80% 0%, 100% 0, 100% 96%, 96% 100%, 20% 100%, 0 100%, 0 4%);
        background: #400400;
    }
    
    .lower-content h2 {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .lower-content p {
        font-size: 14px;
    }
    
    .list-item-box:hover {
        -webkit-transform: inherit;
            -ms-transform: inherit;
                transform: inherit;
    }
    
    .footer .mid-footer {
        padding: 15px 0;
    }
    
    .fixed-outline p {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    
    .discord-section .btn-secondary {
        padding: 9px 5px;
        min-width: 200px;
        font-size: 16px;
    }
    
    .inner-livery-booking .livery-box .livery-item h3 {font-size: 18px;line-height: 32px;max-width: 100%;}
    .billing-detail {padding: 30px 0px;}
    
    .billing-detail .form-box-left {border-radius: 10px;padding: 20px;}
    .product-img, .product-img img {width: 40px;height: 40px;-webkit-box-flex: 0;-ms-flex: 0 0 40px;flex: 0 0 40px;}
    .billing-detail .product-details {padding-left: 10px;}
    
    
    .modal-video button{ right: -5px;}
    .view-box-video p{ font-size: 20px;}
    .view-box-video{ margin-bottom: 40px;}
    
    .card-whitelist-inner{ background-image: none !important; min-height: inherit; padding: 10px 0px;}
    
    .card-whitelist:hover .whitelist-top-line {left: 30%;}
    .card-whitelist:hover .whitelist-bottom-line {right: 40%;}
    .input-single .form-control{ font-size: 16px;}
    
    .item-box-main {padding: 10px 20px;font-size: 16px;}
    .sec-whitelist-checker{ padding: 30px 0px;}
    
    .card-box{ padding: 15px;}
    
    .powered-by img {
        position: relative;
        margin-top: 0;
    }
    .banner-lead-text {
        padding: 15px 0px;
    }

    .livery-section .block-header p {
        font-size: 16px;
        line-height: 25px;
    }

    .product-img video {
        width: 40px !important;
        height: 40px !important;
        border-radius: 6px;
    }

    .video-billing video {
        width: 100%;
        height: 180px;
    }
    .header .btn-primary {
        min-width: 80px;
        font-weight: 500;
    }
    
    }
    
    
    
    
    
    
      
    
      
      
        
        
        
        