/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/* Etihad fonts start */
@font-face {
	font-family: "Etihad Altis";
	src: url("../fonts/EtihadAltis-Medium.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/EtihadAltis-Medium.woff2") format("woff2"), 
	url("../fonts/EtihadAltis-Medium.woff") format("woff"), 
	url("../fonts/EtihadAltis-Medium.ttf") format("truetype"),
	url("../fonts/EtihadAltis-Medium.svg#EtihadAltis-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Etihad Altis";
	src: url("../fonts/EtihadAltis-Bold.eot?#iefix") format("embedded-opentype"),
	 url("../fonts/EtihadAltis-Bold.woff2") format("woff2"),
	 url("../fonts/EtihadAltis-Bold.woff") format("woff"),
	 url("../fonts/EtihadAltis-Bold.ttf") format("truetype"),
	 url("../fonts/EtihadAltis-Bold.svg#EtihadAltis-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Etihad Altis";
	src: url("../fonts/EtihadAltis-Book.eot?#iefix") format("embedded-opentype"),
	 url("../fonts/EtihadAltis-Book.woff2") format("woff2"),
	 url("../fonts/EtihadAltis-Book.woff") format("woff"), 
	 url("../fonts/EtihadAltis-Book.ttf") format("truetype"),
	 url("../fonts/EtihadAltis-Book.svg#EtihadAltis-Book") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}



@font-face {
  font-family: 'DS-Digital';
  src: url('../fonts/DS-Digital.eot');
  src: url('../fonts/DS-Digital.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DS-Digital.woff2') format('woff2'),
      url('../fonts/DS-Digital.woff') format('woff'),
      url('../fonts/DS-Digital.ttf') format('truetype'),
      url('../fonts/DS-Digital.svg#DS-Digital') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




/* Etihad fonts end */

body {
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Etihad Altis";
  background: #000;
  color: #fff;
  overflow: auto !important;
}

a { outline: none !important;}

footer a, .benefit-title, .owl-nav .owl-next:hover i, .owl-nav .owl-prev:hover i {
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

/* Global css start*/
img { max-width: 100%;}
a,a:hover { text-decoration: none;}
button,select { outline: none !important;}
ul,ol {padding: 0px;margin: 0px;list-style: none;}
h1,h2,h3,h4,h5,h6 { margin: 0px; line-height: 1.1;}
/* Global css end*/



/* Header css start */
.header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #181818;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .container{ position: relative; padding: 10px 15px;}

.header-shape {
  width: 883px;
  background: #282828;
  display: block;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  bottom: 0;
}

.header-shape::before {
  position: absolute;
  content: "";
  left: 0px;
  width: 60px;
  height: 100%;
  top: 0;
  bottom: 0;
  border-top: 60px solid #181818;
  border-right: 60px solid transparent;
}

.header-shape:after {
  position: absolute;
  content: "";
  width: 5000px;
  background: #282828;
  display: block;
  right: -5000px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: auto;
}

.header.sticky {
  background: #060606;
  -webkit-box-shadow: rgb(0 0 0 / 30%) 0px 0px 5px;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 5px;
}


.header .container-fluid { padding: 0px 30px;}

.header-right .offcanvas-body {
  padding: 0px;
  overflow-y: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offcanvas-start{ border-right: none; width: 300px;}

.header-right .navbar-nav { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;}
.navbar-nav .nav-item{padding: 0px 16px;}
.navbar-nav .nav-link {
  font-weight: 500;
  font-size: 16px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px 0px;
  color: #fff;
}

.navbar-nav .nav-link::before {
  content: "";
  height: 1px;
  background: #E07527;
  width: 0;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-nav .nav-link:hover::before {width: 100%;}
.navbar-nav .nav-link:hover{color: #E07527;}

.bar1, .bar2, .bar3 {
  background-color: #fff;
  cursor: pointer;
  height: 2px;
  margin: 7px 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  display: block;
  }

.bar2 {width: 20px;}

.header-right button.btn.d-md-none { -webkit-box-shadow: none !important; box-shadow: none !important;padding: 0px;margin-left: 20px;}
.navbar-nav .nav-item .dropdown-menu{ padding: 10px; -webkit-box-shadow:  0 0.275rem 1.25rem rgba(11, 15, 25, 0.05), 0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03); box-shadow:  0 0.275rem 1.25rem rgba(11, 15, 25, 0.05), 0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03); border-color: #fff;}
.navbar-nav .nav-item .dropdown-menu li a{ font-size: 14px; color: #000; padding: 5px 0px; display: block;}
.navbar-nav .nav-item .dropdown-menu li a:hover{ color: #1A0853;}

.logo {margin-right: auto;}

.header .btn-primary { min-width: 114px; font-weight: 500;}

.header .btn-primary img {margin-right: 10px;vertical-align: middle;}

.header .btn-primary.btn-bsc {min-width: 170px;}
.user-auth {margin-left: 25px;}
.header-close {font-size: 20px; height: 20px;width: 20px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}

.user-auth.ms-auto ul li .btn-primary {font-weight: 600;}

.user-auth.ms-auto ul li {margin-left: 20px;}


/* .menu-underline span {
  text-decoration: underline;
} */

/* .navbar-nav .nav-link .bi-twitter, .navbar-nav .nav-link .bi-discord{ font-size: 20px;} */

@media screen and (min-width:767px){
.offcanvas.offcanvas-start {
position: static; 
z-index: auto; 
display: block; 
width: 100%; 
height: auto; 
border: 0;
visibility:visible;
-webkit-transition: none;
-o-transition: none;
transition: none; 
-webkit-transform: inherit; 
-ms-transform: inherit; 
transform: inherit; 
background-color: transparent;
}

.navbar-nav .nav-item:hover .dropdown-menu {
display: block;
-webkit-animation: dropdown-show .2s;
animation: dropdown-show .2s;

}

.navbar-nav .dropdown-menu { position: absolute;}
.navbar-nav .dropdown-menu.show {display: none;}
  
}

@media screen and (max-width:767px){
.navbar-nav{ display: block;}
}


.header .btn.bg-transparent {
  margin-left: 20px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* Header css end */


/* banner css start */
.hero-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  position: relative;
  padding: 30px 0px;
  height: calc(100vh - 63px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
}

.hero-banner:before {position: absolute;content: "";background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 48.44%, #000000 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(48.44%, rgba(0, 0, 0, 0)), to(#000000));background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.44%, #000000 100%);
  width: 100%;height: 100%;top: 0;bottom: 0;left: 0;right: 0;}
.hero-banner .container {position: relative;}

.hero-banner h1 {font-size: 50px;margin-bottom: 30px;font-weight: 300;max-width: 500px;}
.content-box-banner p {font-size: 20px;margin: 0px;max-width: 390px;}
.animated-heading {margin-bottom: 20px;}
.hero-banner .btn-secondary {margin-right: 40px;}


.sec-act-group {
  margin-bottom: 6px;
  position: relative;
  padding: 21px;
}

.banner-lead-text {
  font-size: 20px;
  max-width: 535px;
  text-align: center;
}

.banner-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sec-act-group .background-layer{ width: 535px; height: 162px;}


.item-list{margin: 0px -10px;position: relative;}
.item-box {padding: 0px 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 173px;
  flex: 0 0 173px;}

.item-box-inner {
  background-image: url(../images/item-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-height: 119px;
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 173px;
  flex: 0 0 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.item-box-inner:hover {
  background-image: url(../images/item-bg-hover.svg);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(1px 2px 5px rgba(255, 255, 255, 0.5));
          filter: drop-shadow(1px 2px 5px rgba(255, 255, 255, 0.5));
}

.item-bx-shape{
  min-height: 143px;
  width: 174px;
  -webkit-clip-path: polygon(11% 0, 80% 0%, 100% 0, 100% 88%, 87% 100%, 20% 100%, 0 100%, 0 11%);
          clip-path: polygon(11% 0, 80% 0%, 100% 0, 100% 88%, 87% 100%, 20% 100%, 0 100%, 0 11%);
  background-color: #400400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tag-wrap .d-block {
  font-weight: 300;
  font-size: 28px;
  line-height: 26px;
  margin-bottom: 10px;
}

.tag-wrap p {
  margin: 0px;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #BBBBBB;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.item-box-inner:hover .tag-wrap p{
 color: #fff;
}

.btn-single {
  display: inline-block;
  background-image: url(../images/button-bg.svg);
  background-repeat: no-repeat;
  position: relative;
  width: 193px;
  height: 83px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.btn-single img{ position: absolute; -webkit-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; transition: all 300ms ease-out;}


.powered-by {text-align: right;}
.powered-by img {
  position: relative;
  margin-top: -120px;
}


.btn-single .topline {top: 10px; left: 30px;}
.btn-single .btmline{ bottom: 10px; right: 30px;}

.btn-single:hover .topline{ left: 70px;}
.btn-single:hover .btmline{ right: 70px;}
.btn-single:hover{ background-image: url(../images/button-bg-hover.svg);}

.top-line {
  display: block;
  position: absolute;
  width: 145px;
  height: 2px;
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,1)), to(rgba(0,0,0,0)));
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
  top: -15px;
  left: 40px;
}

.background-layer {
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
}


.background-video {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  margin: auto;
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
}




/* banner css end */

/* Button css start */
.btn-primary, .btn-secondary, .btn-outline {
  position: relative;
  height: 43px;
  min-width: 153px;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  color: #E2E2E2;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.btn-primary {
  -webkit-clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 81%, 91% 100%, 0 100%, 0% 80%, 0 20%);
          clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 81%, 91% 100%, 0 100%, 0% 80%, 0 20%);
  background: #fff;
}

/* .underline-btn{ text-decoration: underline;} */

.btn-secondary {
  background: #400400;
  border-color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 5px 20px;
}

.btn-secondary.btn-fill{ 
  background: -o-linear-gradient(45deg, #CA2C38 58.85%, #E07527 100%); 
  background: linear-gradient(45deg, #CA2C38 58.85%, #E07527 100%);
  border-color: #BC2B22;
}

.btn-secondary.btn-fill:hover{background-image: -o-linear-gradient(181deg, #CA2C38 58.85%, #E07527 100%);background-image: linear-gradient(269deg, #CA2C38 58.85%, #E07527 100%); border-color: #BC2B22;}

.btn-primary i, .btn-secondary i, .btn-outline i{ margin-left: 5px;}

.btn-primary:hover, .btn-outline:hover {
  background-color: #BC2B22;
  border-color: #BC2B22;
}

.btn-primary:hover, 
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active{
color: #fff;
-webkit-box-shadow: 0px 3px 22px rgb(21 153 248 / 18%) !important;
box-shadow: 0px 3px 22px rgb(21 153 248 / 18%) !important;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f00;
  border-color: #f00;
}


.btn-check:focus+.btn-primary, .btn-primary:focus {
-webkit-box-shadow: 0px 3px 22px rgb(21 153 248 / 18%) !important;
box-shadow: 0px 3px 22px rgb(21 153 248 / 18%) !important;
background-color:#f00;
border-color: #f00;
}

.btn-check:focus+.btn-outline, .btn-outline:focus {
  -webkit-box-shadow: 0px 3px 22px rgb(21 153 248 / 18%) !important;
  box-shadow: 0px 3px 22px rgb(21 153 248 / 18%) !important;
}

.inside {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: -o-linear-gradient(45deg, #CA2C38 58.85%, #E07527 100%);
  background: linear-gradient(45deg, #CA2C38 58.85%, #E07527 100%);
  -webkit-clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 81%, 91% 100%, 0 100%, 0% 80%, 0 20%);
          clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 81%, 91% 100%, 0 100%, 0% 80%, 0 20%);
  line-height: 40px;
}

.inside:hover{background-image: -o-linear-gradient(181deg, #CA2C38 58.85%, #E07527 100%);background-image: linear-gradient(269deg, #CA2C38 58.85%, #E07527 100%);}

.btn-secondary:hover, 
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active{
color: #fff;
background-color: #BC2B22;
border-color: #BC2B22;
-webkit-box-shadow: 0px 3px 22px rgb(21 153 248 / 18%) !important;
box-shadow: 0px 3px 22px rgb(21 153 248 / 18%) !important;
}

.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #BC2B22;
  border-color: #BC2B22;
}


.btn-check:focus+.btn-secondary, .btn-secondary:focus {
-webkit-box-shadow: 0px 3px 22px rgb(21 153 248 / 18%) !important;
box-shadow: 0px 3px 22px rgb(21 153 248 / 18%) !important;
background-color:#BC2B22;
border-color: #BC2B22;
}


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   



/* Button css end */
.main {margin-top: 63px;}


/* Video trailer css start*/
.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  line-height: 150px;
  border-radius: 0;
  background-image: url(../images/play-button.png);
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 0;
  background-color: transparent !important;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.video-js .vjs-big-play-button:focus, .video-js:hover .vjs-big-play-button{ border-color: #BC2B22;}


.video-box {
  width: 100%;
  height: 665px;
  border-radius: 30px;
  overflow: hidden;
  /* background: linear-gradient(white, white) padding-box,
            linear-gradient(to right, rgba(255, 255, 255, 30%), #000) border-box; */
  border: 2px solid  rgba(255, 255, 255, 30%);
}

.video-js {width: 100%;height: 100%;}

/* Video trailer css end*/



/*********************discord***********************/

.inner-outline {
  -webkit-clip-path: polygon(2% 0, 80% 0%, 100% 0, 100% 93%, 98% 100%, 0 100%, 0% 80%, 0 6%);
  clip-path: polygon(2% 0, 80% 0%, 100% 0, 100% 93%, 98% 100%, 0 100%, 0% 80%, 0 6%);
  background-color: #fff;
  position: relative;
  display: block;
  padding: 1px;
}

.inside-outline {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-clip-path: polygon(2% 0, 80% 0%, 100% 0, 100% 93%, 98% 100%, 0 100%, 0% 80%, 0 6%);
  clip-path: polygon(2% 0, 80% 0%, 100% 0, 100% 93%, 98% 100%, 0 100%, 0% 80%, 0 6%);
}

.discord-section {
  padding: 60px 0px;
  border-top: 1px solid rgba(136, 136, 136, 0.5);
}

.fixed-outline {
  padding: 61px 15px;
  text-align: center;
  max-width: 1096px;
  margin: 0 auto;
}

.fixed-outline p {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.fixed-outline .btn-primary.btn-fill {
  background: #BC2B22;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 19px 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  height: auto;
}

.discord-section .btn-secondary {
  padding: 14px 5px;
  min-width: 260px;
  height: auto;
  color: #fff;
}


/**********************footer*********************/

.footer {
  padding: 40px 0 28px;
  border-top: 1px solid rgba(136, 136, 136, 0.5);
}

.footer h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 25px;
}

.footer-box a {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #BDBDBD;
  display: block;
}

.footer-box a:hover{ color: #E07527; padding-left: 5px;}

.footer .footer-box ul li {
  margin-bottom: 13px;
}

.footer ul.footer-logo-right li:last-child {
  border-left: 1px solid #fff;
  margin-left: 25px;
  padding-left: 10px;
}

.footer .mid-footer {
  border-top: 1px solid rgba(136, 136, 136, 0.5);
  padding: 32px 0;
  border-bottom: 1px solid rgba(136, 136, 136, 0.5);
}

.footer .top-footer {
  margin-bottom: 30px;
}

.footer .mid-footer .social-footer li {
  margin: 0 9px;
}

.footer .bottom-footer {
  padding-top: 28px;
}


.copyright-box , .copyright-box  a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #BDBDBD;
}

.copyright-box ul li{position: relative;padding-right: 10px; text-align: center;}

.copyright-box ul li:not(:last-child)::before{
  position: absolute;
  content: "";
  width: 1px;
  height: 13px;
  background: #BDBDBD;
  right: 5px;
  top: 6px;
}
.copyright-box li a:hover{ color: #BC2B22;}
.copyright-box a {padding: 0 3px;}


/*************************livery section css start ***********************/
.livery-section {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top:50px;
  position: relative;
  margin-bottom: 40px;
}

.livery-section .block-header p {
  font-size: 24px;
  max-width: 444px;
}


.slider-block {
  margin-bottom: 150px;
}

.block-header h2 {
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.block-header p {
  color: #FFFFFF;
  max-width: 288px;
}

.livery-section .livery-img img {
  display: block;
  margin-left: auto;
}

.livery-booking {
  position: relative;
  display: block;
  padding: 1px;
}

.booking-fixed {
  width: 757px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 25px;
}


.booking-fixed .livery-top-line, .livery-bottom-line {
  position: absolute;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.booking-fixed .livery-top-line{top: -10px;left: 30px;}
.booking-fixed .livery-bottom-line{bottom: -10px;right: 30px;}

.booking-fixed:hover .livery-top-line{left: 44%;}
.booking-fixed:hover .livery-bottom-line{right: 44%;}

.livery-section:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(12.91%, rgba(0, 0, 0, 0.00)), color-stop(92.54%, rgba(0, 0, 0, 0.00)), to(#000));
  background: -o-linear-gradient(top, #000 0%, rgba(0, 0, 0, 0.00) 12.91%, rgba(0, 0, 0, 0.00) 92.54%, #000 100%);
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 12.91%, rgba(0, 0, 0, 0.00) 92.54%, #000 100%);}

.livery-section .container {
  position: relative;
}

.white-line-black {
  display: block;
  position: absolute;
  width: 145px;
  height: 2px;
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,1)), to(rgba(0,0,0,0)));
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
  top: -25px;
  left: 40px;
}

.black-line-white {
  display: block;
  position: absolute;
  width: 145px;
  height: 2px;
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  bottom: -25px;
  right: 40px;
}

.inner-livery-booking .livery-box {
  height: 100%;
  padding: 22px 10px;
}

.inner-livery-booking .livery-box .livery-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  border-left:2px solid rgba(255, 255, 255,55%);
  padding: 10px 0;
}

.inner-livery-booking .livery-box .livery-item h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 116px;
}

.inner-livery-booking .livery-box .livery-item span {
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #BBBBBB;
  display: block;
  margin-top: 5px;
}

.inner-livery-booking .livery-box .livery-item:first-child {
  border: none;
}

.content-box-banner {margin-bottom: 30px;}
.home-item-box{ display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0px;}

.home-item-box .livery-booking { -webkit-box-flex: 0; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%;max-width: 33.333333%;}


.sec-widgets {width: 757px;max-width: 100%;margin: 0 auto;}
.button-group-layer {margin-bottom: 46px;}
.button-group-layer .btn-secondary {min-width: 205px;}

.button-group-layer .container {
  max-width: 555px;
  padding: 0px;
}


/*************************livery section css end ***********************/


/* sec get ready css */
.sec-get-ready {padding: 140px 0px;}
.card-simple{
  width: 1270px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 900px;
}

.card-full-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-simple .row.m-0 {position: relative;z-index: 2;}

.benefit-group{ font-size: 40px;}
.benefit-box {padding: 20px;}
.benefit-title {color: #fff;font-weight: 300;line-height: 54px;}

.benefits-dropdown p{font-weight: 300;color: #fff;line-height: 54px;}

.benefit-column-3 .benefit-box {margin-top: 170px;}

@media screen and (min-width: 768px) {
  .benefits-dropdown {
    opacity: 0;
    visibility: hidden;
    max-width: 780px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
  }
.card-simple:hover .benefits-dropdown{ opacity: 1; visibility: visible;}
.card-simple:hover .benefit-title{ color: #BC2B22;}
}




/* .feature-box { flex: 0 0 242px; max-width: 242px;} */
.block-header {margin-bottom: 60px;}



.feature-box:hover .feature-box-inner{ background:#fff}
.feature-box:hover .feature-box-inner{ -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1);}

.feature-column .d-flex {margin: 0px -16px;}
.feature-box:hover .feature-box-inner h2, 
.feature-box:hover .feature-box-inner p {
  -webkit-transform: inherit;
      -ms-transform: inherit;
          transform: inherit;
}

.icon-box {margin-bottom: 24px;text-align: center;}


.animation-column {-webkit-box-flex: 0;-ms-flex: 0 0 340px;flex: 0 0 340px;max-width: 340px;}




.feature-box {
  width: calc(33.33% - 16px);
  padding: 10px;
  position: relative;
  margin: 0 8px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  max-width: initial;
  border: 1px solid transparent;
}

.feature-box:hover .feature-box-inner {-webkit-transform: initial;-ms-transform: initial;transform: initial;}
.feature-box:hover {
  border-color: rgba(255, 53, 53, 0.5);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.feature-box:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-bottom: 1px solid rgba(255, 53, 53, 0.5);
  top: -12px;
  right: -18px;
  -webkit-transform: rotate(54deg);
      -ms-transform: rotate(54deg);
          transform: rotate(54deg);
  background-color: #000;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.feature-box:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-top: 1px solid rgba(255, 53, 53, 0.5);
  bottom: -12px;
  left: -18px;
  -webkit-transform: rotate(54deg);
      -ms-transform: rotate(54deg);
          transform: rotate(54deg);
  background-color: #000;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.feature-box:hover:after {opacity: 1;}
.feature-box:hover:before {opacity: 1;}

.lower-content h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #FFF;
  font-family: Etihad Altis;
  line-height: normal;
  letter-spacing: -0.2px;
  min-height: 56px;
}
.lower-content p {
  margin: 0px;
  font-size: 16px;
  margin-bottom: 15px;
  color: #FFF;
  font-family: Etihad Altis;
  line-height: normal;
  letter-spacing: -0.2px;
}


.feature-box-inner {
  padding: 1px;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 92% 0, 100% 6%, 100% 80%, 100% 100%, 8% 100%, 0 94%, 0% 20%);
          clip-path: polygon(0 0, 92% 0, 100% 6%, 100% 80%, 100% 100%, 8% 100%, 0 94%, 0% 20%);
  background: #2c0f0d;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}


.feature-box-content {
  -webkit-clip-path: polygon(0 0, 92% 0, 100% 6%, 100% 80%, 100% 100%, 8% 100%, 0 94%, 0% 20%);
          clip-path: polygon(0 0, 92% 0, 100% 6%, 100% 80%, 100% 100%, 8% 100%, 0 94%, 0% 20%);
  background: #2c0f0d;
  padding: 20px;
  height: 100%;
}


.feature-column { -webkit-box-flex: initial; -ms-flex: initial; flex: initial; width: calc(100% - 340px); padding-right: 30px;}
.feature-wrap{ margin: 0px -8px;}
.lower-content p:last-child {margin-bottom: 0;}


.video-clip {
  background-image: url(../images/video-bg.png);
  background-repeat: no-repeat;
  padding: 20px;
  -webkit-filter: drop-shadow(1px 0px 1.7em rgba(255,255,255,0.4));
          filter: drop-shadow(1px 0px 1.7em rgba(255,255,255,0.4));
  width: 341px;
  height: 340px;
}

.video-clip-inner {
  -webkit-clip-path: polygon(0 0, 92% 0, 100% 8%, 100% 80%, 100% 100%, 8% 100%, 0 92%, 0% 20%);
          clip-path: polygon(0 0, 92% 0, 100% 8%, 100% 80%, 100% 100%, 8% 100%, 0 92%, 0% 20%);
  padding: 1px;
  background: #fff;
  width: 294px;
  height: 294px;
  margin: auto;
}


.vido-bg {
  -webkit-clip-path: polygon(0 0, 92% 0, 100% 8%, 100% 80%, 100% 100%, 8% 100%, 0 92%, 0% 20%);
          clip-path: polygon(0 0, 92% 0, 100% 8%, 100% 80%, 100% 100%, 8% 100%, 0 92%, 0% 20%);
  width: 292px;
  height: 292px;
}

.vido-bg img {width: 100%;}

.vido-bg video{width: 295px;height: 295px;}



/* sec get ready end*/

/*sec video popup trailer css start*/
.sec-our-mission {
  padding-top: 107px;
}

.trailer-box {
  display: inline-block;
  position: relative;
}


.trailer-box .trailer-top-line, 
.trailer-box .trailer-bottom-line {
  position: absolute;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.trailer-box .trailer-top-line{top: -10px;left: 10px;}
.trailer-box .trailer-bottom-line{bottom: -10px;right: 10px;}


.trailer-box:hover .trailer-top-line{left: 100px;}
.trailer-box:hover .trailer-bottom-line{right: 100px;}


.view-box-video p {
  font-size: 40px;
  max-width: 355px;
}


.card-simple-wrapper {
  -webkit-clip-path: polygon(20% 0%, 91% 0, 100% 8%, 100% 100%, 80% 100%, 8% 100%, 0 93%, 0 0);
          clip-path: polygon(20% 0%, 91% 0, 100% 8%, 100% 100%, 80% 100%, 8% 100%, 0 93%, 0 0);
  padding: 1px;
  background: #fff;
  width: 349px;
  height: 349px;
}

.card-simple-inner{
  -webkit-clip-path: polygon(20% 0%, 91% 0, 100% 8%, 100% 100%, 80% 100%, 8% 100%, 0 93%, 0 0);
          clip-path: polygon(20% 0%, 91% 0, 100% 8%, 100% 100%, 80% 100%, 8% 100%, 0 93%, 0 0);
  height: 100%;
}



.card-simple-inner img {
-webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-simple-wrapper:hover .card-simple-inner img{
  -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.block-figure .d-md-flex{ margin: 0px -20px;}
.sec-our-mission .col-md-4 {-webkit-box-flex:1;-ms-flex:1;flex:1; padding: 0px;}
.sec-our-mission .col-md-8 {-webkit-box-flex: 0;-ms-flex: 0 0 806px;flex: 0 0 806px;width: 806px;padding: 0;}
.card-simple-figure {padding: 0px 20px;}

/*sec video popup trailer css end*/

.sec-mint-detail {margin-bottom: 158px;padding-top: 80px;}

.mint-col-8 {-webkit-box-flex: 0;-ms-flex: 0 0 727px;flex: 0 0 727px; max-width: 727px;}
.mint-col-4 {-webkit-box-flex: 1;-ms-flex: 1;flex: 1;}

.ming-img {
  background: #fff;
  padding: 1px;
  width: 727px;
  height: 394px;
  -webkit-clip-path: polygon(20% 0%, 96% 0, 100% 9%, 100% 100%, 80% 100%, 4% 100%, 0 93%, 0 0);
          clip-path: polygon(20% 0%, 96% 0, 100% 9%, 100% 100%, 80% 100%, 4% 100%, 0 93%, 0 0);
}

.aside-mint {padding-left: 40px;}
.ming-inner{-webkit-clip-path: polygon(20% 0%, 96% 0, 100% 9%, 100% 100%, 80% 100%, 4% 100%, 0 93%, 0 0);clip-path: polygon(20% 0%, 96% 0, 100% 9%, 100% 100%, 80% 100%, 4% 100%, 0 93%, 0 0);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ming-inner img{
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ming-img:hover img{
-webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}  

.list-item-box{
  width: 421px;
  height: 123px;
  -webkit-clip-path: polygon(20% 0%, 92% 0, 100% 33%, 100% 100%, 80% 100%, 7% 100%, 0% 72%, 0 0);
          clip-path: polygon(20% 0%, 92% 0, 100% 33%, 100% 100%, 80% 100%, 7% 100%, 0% 72%, 0 0);
  background: #5d1f27;
  padding: 1px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.list-item-box-inner {
  background: #2e0f13;
  padding: 10px 28px;
  height: 100%;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(20% 0%, 92% 0, 100% 33%, 100% 100%, 80% 100%, 7% 100%, 0% 72%, 0 0);
          clip-path: polygon(20% 0%, 92% 0, 100% 33%, 100% 100%, 80% 100%, 7% 100%, 0% 72%, 0 0);
}

.list-item-box:hover{-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1); background: rgb(224, 117, 39);}

.list-item-box-inner h4, .list-item-box-inner p{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.list-item-box-inner h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.list-item-box-inner p {
  font-size: 16px;
  margin: 0px;
}

.aside-mint-list .list-item:not(:last-child){ margin-bottom: 12px;}

.item-single {
  padding: 15px 15px;
  border-radius: 0.625rem;
  position: relative;
  overflow: hidden;
  background: rgba(217, 217, 217, 0.20);
}

.item-single img {
  width: 100%;
  height: 192px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}


.ic-play {
  color: #fff;
  font-size: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #CA2C38;
  line-height: 1.1;
  border-radius: 10px;
  width: 54px;
  padding: 0px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
     transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}

.item-single:hover .ic-play{ background:#E07527; -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);}

.owl-nav {
  position: absolute;
  width: 100%;
  right: 0px;
  top: 50%;
  margin-top: -40px;
  font-size: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.owl-nav .owl-prev, .owl-nav .owl-next{ position: absolute;}

.owl-nav .owl-prev {left: -50px;}
.owl-nav .owl-next {right: -50px;}

.owl-nav .owl-prev:hover i, .owl-nav .owl-next:hover i{ color: #E07527;}




/****Count Start****/
.sec-countdown-main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 352px;
          flex: 0 0 352px;
  max-width: 352px;
  text-align: center;
}
.is-countdown {
  font-family: 'DS-Digital';
  color: #FFF;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03rem;
}
.sec-countdown-main p {
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin-bottom: 5px;
}

.countdown-period{ display: none;}
.countdown-section{ position: relative;}
.countdown-section::before,
.countdown-section::after{
content: '';
position: absolute;
left: 100%;
width: 5px;
margin-left: 20px;
height: 5px;
border-radius: 0;
background: #fff;
}

.countdown-section::before{ top: 10px;}
.countdown-section::after{ bottom: 10px;}
.countdown-section+.countdown-section { margin-left: 40px; }
.countdown-section span:first-child { font-size: 3rem; }
.countdown-section:last-child{ color: #BC2B22;}

.countdown-section:last-child::before,
.countdown-section:last-child::after{ display: none;}

/****Count End****/

.modal-header{ background: #060606;}
.modal-video button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -10px;
  z-index: 1;
  top: -14px;
  background: #000;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}


.modal-video .modal-body video{ width: 100%; height: 444px; -o-object-fit: cover; object-fit: cover;}


.modal-video button:hover{
  background: #E07527 !important;
}

.modal-video .text-white .bi {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
.modal-video .text-white:hover .bi {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}


/*********************Billing details page css start************************/

.billing-detail {
  background: #000;
  padding: 52px 0 84px;
}

.right-quantity .btn-default {
  background: #282828;
  color: #7e7e7e;
  border: none;
  text-align: center;
  height: 25px;
}

.right-quantity .btn-default:hover{ color: #CA2C38;}

.input-group.number-spinner input.form-control {
  width: 32px;
  background: #282828;
  min-width: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  height: 25px;
  color: #fff;
  opacity: 1;
  border: none;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #464646;
  padding: 1px;
  font-size: 12px;
  font-weight: 500;
}


.billing-detail .form-box-left {
  border-radius: 20px;
  background: #181818;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 32px 60px 90px;
}

.billing-detail  h2 {
  text-align: center;
  color: #FFF;
  font-size: 40px;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin-bottom: 35px;
}

.billing-detail 
.form-box-right {
  padding: 32px 40px 90px;
  padding-right: 0px;
}

.billing-detail .form-box-left label.form-label {
  display: none;
}

.form-floating .form-control {
  border-radius: 5px;
  background: #282828;
  border: none;
  color: #787878;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-weight: 300;
  padding: 8px 13px !important;
  line-height: normal;
  text-align: left;
  height: 40px !important;
}

.form-floating>label {
  padding: 5px 13px;
  color: #787878;
  font-size: 18px;
}

.form-floating>label span{ color: #BC2B22;}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
  opacity: 1;
  transform: scale(.85) translateY(-32px) translateX(-10px);
}

.form-floating>.form-control:not(:-ms-input-placeholder)~label {
  opacity: 1;
  -ms-transform: scale(.85) translateY(-32px) translateX(-10px);
      transform: scale(.85) translateY(-32px) translateX(-10px);
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  opacity: 1;
  -webkit-transform: scale(.85) translateY(-32px) translateX(-10px);
      -ms-transform: scale(.85) translateY(-32px) translateX(-10px);
          transform: scale(.85) translateY(-32px) translateX(-10px);
}

.form-main [class*='col-'] { margin-bottom: 30px;}

.billing-detail .form-box-left p {
  color: #787878;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 21px;
  max-width: 380px;
}



.text-link {color: #CA2C38; text-decoration: underline !important;}
.text-link:hover{ color: #E07527;}

.billing-detail .form-box-left h3 {
  color: #FFF;
  font-size: 20px;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  padding: 25px 0;
}

.billing-detail .product-details {
  padding-left: 22px;
}

.product-img, 
.product-img img {
  width: 64px;
  height: 64px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
}

.product-img img{
  border-radius: 0.5rem;
}

.billing-detail .product-details p {
  color: #FFF;
  font-size: 18px;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin: 0 0 2px;
}

.billing-detail .product-details span {
  color: #FFF;
  font-size: 14px;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
}

.billing-detail 
.left-product {
  width: calc(100% - 100px);
}


.billing-product .billing-list {
  padding-bottom: 46px;
  margin-bottom: 46px;
  border-bottom: 1px solid #fff;
}

.billing-product .billing-list .right-quantity {
  width: 86px;
  border-radius: 0.3125rem;
  overflow: hidden;
}


.billing-product .billing-list:last-child {
  margin-bottom: 0;
}

.billing-details {
  margin-top: 5px;
}

.billing-detail .form-box-right .billing-details ul.billing-info {
  width: 232px;
  margin-left: auto;
}

.billing-details ul.billing-info li {
  color: #FFF;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  padding: 12px 0;
}


.billing-detail .form-box-right .billing-discription {
  width: 80%;
  margin-bottom: 56px;
}

.billing-detail .form-box-right .billing-discription p {
  color: #787878;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
}

.billing-detail .form-box-right .form-check {
  margin-bottom: 16px;
}

.submit-sec {
  padding: 0 10px;
}

.submit-sec .form-check input {
  width: 16px;
  height: 16px;
  border-radius: 0.125rem;
  background: #787878;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-color: #787878;
  margin-top: 7px;
  margin-left: -33px;
  cursor: pointer;
}

.submit-sec .form-check input:focus{border-color: #E07527;}

.submit-sec .form-check label.form-check-label {
  color: #FFF;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  display: block;
  padding-top: 3px;
  cursor: pointer;
  font-size: 15px;
}

.button-submit {
  width: 100%;
  height: 36px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #fff;
  padding: 1px;
  background-size: contain;
  -webkit-clip-path: polygon(2% 0, 81% 0%, 100% 0, 100% 80%, 98% 100%, 20% 100%, 0 100%, 0% 20%);
          clip-path: polygon(2% 0, 81% 0%, 100% 0, 100% 80%, 98% 100%, 20% 100%, 0 100%, 0% 20%);
}

.button-submit span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 34px;
  background: #BC2B22;
  -webkit-clip-path: polygon(2% 0, 81% 0%, 100% 0, 100% 80%, 98% 100%, 20% 100%, 0 100%, 0% 20%);
          clip-path: polygon(2% 0, 81% 0%, 100% 0, 100% 80%, 98% 100%, 20% 100%, 0 100%, 0% 20%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.button-submit:hover span{ background: #400400;}

/*********************Billing details page css end************************/




/******************faq page*****************/


.faq-sec {
  background: #000;
  padding: 40px 0 40px;
}

.faq-sec h2 {
  color: #FFF;
  font-size: 40px;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin-bottom: 56px;
}

.faq-sec h3 {
  color: #CA2C38;
  font-size: 40px;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin: 18px 0 27px;
}

.faq-sec button {
  -webkit-clip-path: polygon(100% 0, 100% 15%, 100% 85%, 98% 100%, 0 100%, 0 15%, 2% 0);
          clip-path: polygon(100% 0, 100% 15%, 100% 85%, 98% 100%, 0 100%, 0 15%, 2% 0);
  background-color: #181818 !important;
  opacity: 1;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #fff !important;
  font-size: 20px;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  border: none !important;
  padding-right: 50px;
}

.faq-sec .accordion-item {
  background-color: transparent;
  border: none;
  margin: 18px 0;
}

.faq-sec h4 {
  -webkit-clip-path: polygon(100% 0, 100% 15%, 100% 85%, 98% 100%, 0 100%, 0 15%, 2% 0);
          clip-path: polygon(100% 0, 100% 15%, 100% 85%, 98% 100%, 0 100%, 0 15%, 2% 0);
  background-color: #787878;
  margin: 0;
  padding: 1px;
}

.faq-sec .accordion-button::after {
  background-image: url(../images/arrow-angle-down.svg);
  position: absolute;
  right: 22px;
  top: 18px;
  background-position: center;
}

.faq-sec  .accordion-body {
  color: #fff;
  font-size: 20px;
  font-family: Etihad Altis;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin-bottom: 0;
}


/* New css */
.content { font-size: 18px;}
.sec-title-main {
  font-size: 48px;
  font-weight: bold;
}
.content a {
  text-decoration: underline;
  color: #4c64f4;
  font-weight: bold;
}

div#bid-counter div, div#bid-counter p {
  font-family: 'DS-Digital';
  color: #FFF;
  font-size: 3rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03rem;
}

/* whitelist-checker page css start */

.sec-whitelist-checker{ padding: 112px 0px;}
.sec-whitelist-checker {
  padding: 40px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: -1px;
  position: relative;
  background-position: center;
}

.card-whitelist {
  max-width: 613px;
  border-radius: 1.25rem;
  background: rgba(18, 18, 18, 0.85);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 25px 20px;
  margin-bottom: 15px;
}

.card-whitelist-inner {
  width: 100%;
  background-repeat: no-repeat;
  padding: 38px 58px;
  position: relative;
  background-size: contain;
  background-position: center;
}

.card-whitelist-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.card-whitelist-title p,
.card-whitelist-title label{ font-size: 19px;}

.card-whitelist-inner .form-group label{ font-weight: 600; margin-bottom: 20px;}
.card-whitelist-inner .input-single {max-width: 390px;margin: 0 auto 15px auto;}
.input-single .form-control {background: #D9D9D9;font-size: 19px;color: #000;text-align: center;
  border-radius: 0px;height: 40px;}
.card-whitelist-inner .btn-secondary { font-weight: 600;}

.input-single .form-control::-webkit-input-placeholder {color: #000;}
.input-single .form-control:-ms-input-placeholder { color: #000;}
.input-single .form-control::-moz-placeholder {color: #000;}
.input-single .form-control::-ms-input-placeholder {color: #000;}
.input-single .form-control::placeholder {color: #000;}
.input-single .form-control:focus {
  background-color: #fff;
  border-color: #BC2B22;
  outline: 0;
  -webkit-box-shadow: 0 0 1rem 0 rgba(140,152,164,.25);
          box-shadow: 0 0 1rem 0 rgba(140,152,164,.25);
}


.card-whitelist-inner .whitelist-top-line, 
.card-whitelist-inner .whitelist-bottom-line {
  position: absolute;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.card-whitelist-inner .whitelist-top-line {
  top: -10px;
  left: 30px;
}

.card-whitelist-inner .whitelist-bottom-line {
  bottom: -10px;
  right: 30px;
}

.card-whitelist:hover .whitelist-top-line {
  left: 40%;
}
.card-whitelist:hover .whitelist-bottom-line {
  right: 40%;
}


.card-congratulations {
  max-width: 518px;
  margin: auto;
}

.card-congratulations-inner {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(20% 0%, 92% 0, 100% 33%, 100% 100%, 80% 100%, 7% 100%, 0% 72%, 0 0);
          clip-path: polygon(20% 0%, 92% 0, 100% 33%, 100% 100%, 80% 100%, 7% 100%, 0% 72%, 0 0);
  background: #fff;
  padding: 1px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.item-box-main {
  background: rgba(93, 31, 39, 1);
  padding: 38px 83px;
  height: 100%;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(20% 0%, 92% 0, 100% 33%, 100% 100%, 80% 100%, 7% 100%, 0% 72%, 0 0);
          clip-path: polygon(20% 0%, 92% 0, 100% 33%, 100% 100%, 80% 100%, 7% 100%, 0% 72%, 0 0);
}

/* whitelist-checker page css end */

.sec-mint-main{ padding:64px 0px;}

.card-black {
  background: #181818;
}

.card-box {
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 35px;
  max-width: 677px;
  margin: 0 auto 36px auto;
}

.card-box h2 {
  color: #FFF;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
}

.card-box p, .card-box ul li {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  word-wrap: break-word;
  text-align: center;
}

.card-box a {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  border-bottom: 1px solid #fff;
}


.btn.back-to-home {
  -webkit-clip-path: polygon(7% 0, 81% 0%, 100% 0, 100% 80%, 93% 100%, 20% 100%, 0 100%, 0% 20%);
  clip-path: polygon(7% 0, 81% 0%, 100% 0, 100% 80%, 93% 100%, 20% 100%, 0 100%, 0% 20%);
  background: #fff;position: relative;height: 45px;max-width: 186px;overflow: hidden;-webkit-box-shadow: none;box-shadow: none;transition: all 300ms ease;-moz-transition: all 300ms ease;-webkit-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;color: #E2E2E2;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;margin: 0 auto;display: block;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.btn.back-to-home span {
background: -o-linear-gradient(45deg, #CA2C38 58.85%, #E07527 100%);
background: linear-gradient(45deg, #CA2C38 58.85%, #E07527 100%);
-webkit-clip-path: polygon(7% 0, 81% 0%, 100% 0, 100% 80%, 93% 100%, 20% 100%, 0 100%, 0% 20%);
clip-path: polygon(7% 0, 81% 0%, 100% 0, 100% 80%, 93% 100%, 20% 100%, 0 100%, 0% 20%);
line-height: 39px;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
transition: all 300ms ease;
-moz-transition: all 300ms ease;
-webkit-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
}

.btn.back-to-home:hover{background: #BC2B22;}

.btn.back-to-home:hover span{
  background-image: -o-linear-gradient(181deg, #CA2C38 58.85%, #E07527 100%);
  background-image: linear-gradient(269deg, #CA2C38 58.85%, #E07527 100%); 
}

.text-underline {text-decoration: underline;}

.footer .bottom-footer [class='col-md-12']{ position: relative;}
.footer .bottom-footer [class='col-md-12'] .footer-img { position: absolute; right: 0; top: 5px;}

.lower-content .text-underline {color: #fff;}
.lower-content .text-underline:hover{ color: #E07527;}

.item-header-title {
  color: #fff;
  background: #000;
  padding: 10px;
}

.item-header-title span{ margin-right: 10px;}
.item-header-title img, .item-header-title span {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
}

.item-header-title {color: #fff;}
.item-header-title a{ color: #fff;}


.item-video iframe {
  width: 100% !important;
  height: 187px !important;
  background: #000;
}


.item-header-title .imgbox { display: none;}


.video-box iframe {
  width: 100% !important;
  height: 100% !important;
}


.video-billing iframe {
  width: 100% !important;
  height: 323px !important;
}


@media screen and (max-width: 767px) {
  .submit-sec div:nth-child(2) {
    display: inline-block !important;
    width: 100% !important;
    margin: 0px !important;
    margin-bottom: 20px !important;
} 
.submit-sec div:nth-child(2) button {
  width: 100% !important;
}

.submit-sec div:nth-child(3) {
  display: block !important;
  width: 100% !important;
  margin: 0px !important;
}

.submit-sec div:nth-child(3) div {
  margin: 0px !important;
  width: 100% !important;
}

.submit-sec div:nth-child(3) button {
  width: 100% !important;
}

}


.mark, mark {
  padding: 0.2em;
  background-color: yellow;
}

.faq-sec .accordion-body a {
  text-decoration: underline;
}


.product-img video {
  width: 64px !important;
  height: 64px !important;
  border-radius: 6px;
}

.video-billing video {
  width: 100%;
  height: 300px;
}

.sec-title-main {
  margin-bottom: 40px;
}

ol {
  counter-reset: decimal;
  list-style: none;
  margin: 0;
  padding: 0;
}

ol li {
  display: table;
  font-size: 20px;
  padding-right: 15px;
  margin-bottom: 20px;
}

ol li p b{ display: block;}

ol>li:before {
  display: table-cell;
  content: counters(decimal, ".") ".";
  counter-increment: decimal;
  width: 30px;
}

ol li ul li {
  list-style-type: disc !important;
  display: list-item;
}